@CHARSET "UTF-8";

.clear {clear:both; font-size:0px; height:0px; line-height:0px;}
.beta-radius3px {-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.beta-radius5px {-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.fright{float:right;}
.fleft{float:left;}
.hide{display:none;}
.show{display:block;}
a{color:#0069d6;text-decoration:none;line-height:inherit;font-weight:inherit;}
a:hover{color:#00438a;text-decoration:underline;}

.beta-container {background:#FFFFFF; padding-top:10px;}
.beta-header {margin-bottom:10px;}
.beta-footer {margin-top:10px;}
.beta-sidebar {width:338px; float:right;}
.beta-content {width:602px; float:left;}
.beta-pages {font-size:14px;}
.beta-pages a {font-size:14px;}

.beta-header .beta-logo {height:75px;}


.beta-post-item {border:1px solid #AAAAAA; margin-bottom:10px; margin-top:0;}
.beta-post-item dt, .beta-post-item dd {padding:0 10px; line-height:24px; margin:0;}
.beta-post-item h1 {font-size:16px; padding:10px 0 5px; line-height:22px;font-family:微软雅黑;}
.beta-post-item h1 strong {color:darkred;}
.beta-post-item .post-extra {font-size:12px;}
.beta-post-item .post-summary {margin:10px 0px; overflow:hidden;}
.beta-post-item .post-summary img, .beta-post-detail .post-content img {margin:10px 0px; max-width:570px;}
.beta-post-item .post-item-toolbar {font-size:12px; line-height:24px; height:24px; padding:0 10px; background:lightgray; border-top:1px solid #cccccc;}
.beta-post-item .post-item-toolbar strong {margin-right:10px;}

.beta-sidebar-block {border:1px solid #AAAAAA; margin-bottom:10px;}
.beta-sidebar-block h2, .beta-sidebar-block .beta-title {font-size:14px; line-height:28px; height:28px; padding:0 10px; background:lightgray; border-bottom:1px solid #cccccc;}
.beta-sidebar-block .content {margin:10px 10px 10px 25px; font-size:14px;}
.beta-sidebar-block .content.unstyled {margin-left:10px; font-size:14px;}
.beta-sidebar-block .content li {margin-top:6px; line-height:18px;}
.beta-sidebar-block.beta-small h2, .beta-sidebar-block.beta-small .beta-title {font-size:12px; line-height:22px; height:22px;}
.beta-sidebar-block.beta-small .content {margin:5px 10px 5px 25px; font-size:12px;}
.beta-sidebar-block.beta-small .content.unstyled {margin-left:10px; font-size:12px;}
.beta-sidebar-block.beta-small .content li {margin-top:3px;}

.beta-post-show {border:1px solid #AAAAAA;}
.beta-post-detail, .beta-post-form {padding:10px;}
.beta-post-detail h1 {font-family:微软雅黑;font-size:20px; text-align:center; line-height:26px; margin:5px 0 15px;}
.beta-post-detail .post-extra {font-size:12px;}
.beta-post-detail .post-content {margin:15px 0; overflow:hidden;}
.beta-post-detail .post-tags {margin-bottom:5px;}
.beta-post-detail .post-tags a {font-weight:normal;}
.beta-post-detail .post-tags a:hover {text-decoration:none; color:#DFDFDF;}
.beta-post-detail .post-source a {line-height:16px;}
.beta-mini-title {font-size:12px; background:lightgray; text-indent:10px; height:24px; line-height:24px; font-weight:bold;}
.beta-post-detail .post-content p {line-height:24px;}
.beta-post-detail .post-source span.label, .beta-post-detail .post-tags span.label {display:block; float:left; margin-left:10px;}

.beta-comment-item {font-size:12px; border-bottom:1px solid #AAAAAA; margin:0;}
.beta-comment-item dt, .beta-comment-item dd {padding:0px 10px; margin:0;}
.beta-comment-item dt {padding-top:10px; font-weight:normal;}
.post-extra span {border-bottom:1px solid lightgray; padding:5px 0; color:#555555;}
.beta-comment-item .comment-content {padding:10px; line-height:20px;}
.beta-comment-item .comment-toolbar {height:22px; line-height:24px; background:lightgray;}
.beta-comment-item .comment-toolbar a {margin-right:10px;}
.beta-comment-item .comment-toolbar a:last-child {margin-right:0;}
.beta-comment-quote {border:1px solid lightgray; padding:8px; margin:0 0 10px; line-height:20px;}
.beta-comment-quote legend {text-align:left; text-indent:18px; font-size:12px; font-weight:bold; padding:0 5px; width:auto; height:20px; line-height:20px; background:white url(../images/quotetip.gif) no-repeat left center; border:1px solid lightgray;}

.beta-hot-comment {border:1px solid #FC0; background:#FFE57F;}
.beta-no-comments {font-size:12px; text-align:center; color:gray;}

.disable_comment {font-size:12px; text-align:center; color:red; padding:5px;}
.comment-form {font-size:12px;}
.comment-form .comment-clearfix {margin-bottom:2px;}
.comment-form .comment-clearfix label {width:50px; font-size:12px;}
.comment-form .comment-clearfix .help-block {font-size:12px;}
.comment-form .comment-input {margin-left:60px; font-size:12px;}
.comment-form .comment-input input, .comment-form textarea {padding:2px;}
.comment-form .btn {font-size:12px;}}
.comment-form {margin-bottom:0;}
.comment-form .form-actions {padding:10px 0px 10px 180px; margin:10px 0;}
.comment-form .help-error {display:none;}
.comment-reply-form {margin-top:5px;}
.beta-alert-message {font-size:12px; padding:3px 10px; margin-bottom:0; margin:2px;}
.beta-alert-message .close {right:-5px;}

.post-form {margin:10px 0; font-size:12px;}
.post-form .post-clearfix {margin:0 0 5px 5px;}
.post-form .post-clearfix label {width:70px; font-size:12px;}
.post-form .post-input {margin-left:80px;}
.post-form .post-input .help-block {margin:0; font-size:12px;}
.post-form .post-input input, .post-form textarea {font-size:12px; padding:3px;}
.post-form .captcha-clearfix label {text-align:left; width:auto;}
.captcha-clearfix .input {margin-left:45px;}
.post-form .stacked label {display:block; width:auto; float:none; text-align:left; margin-bottom:0;}
.post-form .stacked .post-input {display:block; margin-left:0;}
.post-form #beta-summary {width:580px; height:200px;}
.post-form #beta-content {width:580px; height:400px;}
.post-form .btn {font-size:14px;}

.comment-form input.beta-captcha, .post-form input.beta-captcha {font-size:16px;}
.comment-form .refresh-captcha, .post-form .refresh-captcha {font-size:12px; margin-left:5px;}

/*
 * kind editor
 */
body.ke-content {padding:5px;}



