@CHARSET "UTF-8";
.beta-container {background:#FFFFFF; padding-top:10px;}
.beta-header {margin-bottom:10px;}
.beta-footer {margin-top:10px;}
.beta-sidebar {width:338px; float:right;}
.beta-content {width:602px; float:left;}
.beta-pages {font-size:14px;}
.beta-pages a {font-size:14px;}


.beta-post-item {border:1px solid #AAAAAA; margin-bottom:10px;}
.beta-post-item dt, .beta-post-item dd {padding:0 10px;}
.beta-post-item h1 {font-size:18px; padding:10px 0 5px; line-height:28px;}
.beta-post-item .post-extra {font-size:12px;}
.beta-post-item .post-summary {margin:15px 0px; line-height:24px;}
.beta-post-item .post-item-toolbar {font-size:12px; line-height:28px; height:28px; padding:0 10px; background:lightgray; border-top:1px solid #cccccc;}

.beta-sidebar-block {border:1px solid #AAAAAA; margin-bottom:10px;}
.beta-sidebar-block h2, .beta-sidebar-block .beta-title {font-size:14px; line-height:28px; height:28px; padding:0 10px; background:lightgray; border-bottom:1px solid #cccccc;}
.beta-sidebar-block .content {margin:10px; font-size:14px;}

.beta-post-show {border:1px solid #AAAAAA;}
.beta-post-detail, .beta-post-form {padding:10px;}
.beta-post-detail h1 {font-size:20px; text-align:center; line-height:26px; margin:10px 0 15px;}
.beta-post-detail .post-extra {font-size:12px;}
.beta-post-detail .post-content {margin:15px 0;}
.beta-mini-title {font-size:12px; background:lightgray; text-indent:10px; height:24px; line-height:24px; font-weight:bold;}

.beta-comment-item {font-size:12px; border-bottom:1px solid #AAAAAA;}
.beta-comment-item:last-child {border-bottom:0px;}
.beta-comment-item dt, .beta-comment-item dd {padding:0px 10px;}
.beta-comment-item dt {padding-top:10px; font-weight:normal;}
.post-extra span {border-bottom:1px solid lightgray; padding:5px 0;}
.beta-comment-item .comment-content {padding:10px; line-height:22px;}
.beta-comment-item .comment-toolbar {height:24px; line-height:24px; background:lightgray;}

.beta-hot-comment {border:1px solid #FC0; background:#FFE57F;}