@CHARSET "UTF-8";

.beta-container {padding:5px;}

.admin-sidebar {margin:0px; padding:0px;}
.admin-sidebar .sidebar-menus {margin-bottom:5px;}
.admin-sidebar .menu-item {line-height:28px;}
.sidebar-menus .sub-item {text-indent:15px;}

.dropdown-menu-small {font-size:12px;}

/* table cell */
.table .item-orderid {width:54px; padding:4px 8px;}
.table .item-orderid input[type=text] {margin:0; padding:3px; text-align:center; width:45px;}
.table .item-checkbox {width:13px;}
.table .align-right {text-align:right;}
.table .align-center {text-align:center;}

.control-group.bottom10px {margin-bottom:10px;}

#summary, #content {width:800px;}
#summary {height:180px;}
#content {height:450px;}