@CHARSET "UTF-8";

.beta-container {padding:5px;}

.admin-sidebar {margin:0px; padding:0px;}
.admin-sidebar .sidebar-menus {margin-bottom:5px;}
.admin-sidebar .menu-item {line-height:28px;}
.sidebar-menus .sub-item {text-indent:15px;}

.dropdown-menu-small {font-size:12px;}

#beta-admin-tip {position:fixed; top:1px; right:1px; border:1px solid #DFDFDF; background:#EFEFEF; color:gray; padding:0 5px; box-shadow:0 0 2px #808080; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; display:none;}

/* table cell */
.table .item-orderid {width:60px; padding:4px 8px;}
.table .item-orderid input[type=text] {margin:0; padding:3px; text-align:center;}
.table .item-checkbox {width:13px;}
.table .align-right {text-align:right;}
.table .align-center {text-align:center;}

.control-group.bottom10px {margin-bottom:10px;}

#summary, #content {width:610px;}
#summary {height:180px;}
#content {height:450px;}

.topic-icon {max-width:100px; max-height:100px;}

.user-disabled {color:gray;}

/* comment list */
.author-name {width:80px;}


/* config manage */
.beta-config-table td, .beta-config-table th {vertical-align:middle;}
.table.beta-config-table td input {margin:0;}
.config-error-names {margin-top:10px;}
.config-error-names li {margin-bottom:10px;}
.beta-config-table textarea {height:70px;}